body
{
    margin: 0;
}
*  a
{
    text-decoration: none;
    color: #fff;
}
.vedio video
{
    width: 100%;
    height: 100%;
}
.nav
{
height: 60px;
padding: 0 60px;
background: rgba(0,0,0,0);
position: absolute;
width: 91%;
z-index: 10;
}
.nav .logo img
{
    margin-top: 18px;
    float: left;
}
.nav ul
{
    margin: 0;
    padding-top: 19px;
}
.nav ul li
{
    list-style: none;
    float: left;
    font-weight: 500;
    padding: 0 27px;
    position: relative;
}
.nav>ul>li
{
    color: #fff;  
}
.nav ul li i
{
    position: absolute;
    top: 3px;
    right: 14px;
}
.nav .find
{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 41px;
    left: 0px;
    background-color: #333;
    border: rgba(51, 51, 51, 0.5);
    color: #999;
    display: none;
}
.nav .find .big
{
    padding: 13px 0 0 0px;
    display: inline-grid;
}
.nav .find .big>li
{
    padding-right: 0px;
    border-bottom: 1px solid #2d2929;
    margin: 8px 0;
    padding-bottom: 20px;
}
.nav .find .big li i
{
    position: absolute;
    left: 62px;
}
.nav .find .big .small
{
    column-count: 2;
    padding: 0
}
.nav .find .big .small li 
{
    width: 64px;
    padding: 4px 0;
    font-size: 12px;

}
.nav .Source_material
{
    position: absolute;
    width: 200px;
    height: 379px;
    top: 41px;
    left: 0px;
    display: none;
    background-color: #333;
    border: rgba(51, 51, 51, 0.5);
    color: #999;
    display: none;
}
.nav .Source_material .big
{
    padding: 13px 0 0 0px;
    display: inline-grid;
}
.nav .Source_material .big>li
{
    padding-right: 0px;
    border-bottom: 1px solid #2d2929;
    margin: 8px 0;
    padding-bottom: 20px;
}
.nav .Source_material .big li i
{
    position: absolute;
    left: 62px;
}
.nav .Source_material .big .small
{
    column-count: 2;
    padding: 0
}
.nav .Source_material .big .small li 
{
    width: 64px;
    padding: 4px 0;
    font-size: 12px;

}
.nav>ul>li:hover .find
{
    display: block;
}
.nav>ul>li:hover .Source_material
{
    display: block;
}
.nav>ul>li:hover .more
{
    display: block;
}
.nav .more
{
    position: absolute;
    width: 182px;
    height: 127px;
    top: 41px;
    left: 0px;
    font-size: 14px;
    font-weight: 300;
    background-color: #333;
    border: rgba(51, 51, 51, 0.5);
    color: #999;
    display: none;
}
.nav .more ul
{
    padding: 0;

}
.nav .more ul li 
{
    margin: 10px 0;
}
.nav ul li:hover
{
    font-weight: 600;
}
.nav .right_logo 
{
    display: inline;
}
.nav .right_logo img
{
    height: 22px;
    padding: 3px;
    border: 1px solid #C8A06E;
}
.nav .right_logo img:hover
{
    opacity: 0.6;
}
.nav .nav_right
{
    float: right;
}
.nav .nav_right .iconfont
{
    color: #fff;
    font-size: 23px;
}
.nav .nav_right i:hover
{
    opacity: 0.6;
}
.nav .nav_right span:hover
{
    opacity: 0.6; 
}
.theme
{
    z-index: 10;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 39%;
}
.theme p:first-child
{
    font-size: 48px;
    line-height: 1;
}
.theme .mo 
{
    font-size: 20px;
    font-weight: 300;
}
.theme .mo i
{
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.theme .mo i div
{
    display: inline-block;
}
#timer div
{
   /* visibility: hidden; */
   letter-spacing: 6px;
}
.button 
{
    display: inline-block;
    width: 405px;
    height: 80px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    margin: 0 10px;
    position: absolute;
    top: 79%;
    left: 36%;
}
.button>div
{
    display: inline-block;
    margin: 0px 10px;
    width: 160px;
    height: 50px;
}
.button .grey
{
    background-color: rgba(255, 255, 255, 0.3)!important;
}
.button .grey:hover
{
    background-color: rgba(255, 255, 255, 0.6)!important;
}
.button .red
{
    background: #e74b3b!important;
}
.button .red:hover
{
    background: #cf4334!important;
}
.images
{
   
    position: absolute;
    bottom: -122px;
    left: 49%;
    z-index: 10;
}
.images::before
{
    background: url(../images/vedio.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 1px;
    content: "";
    position: absolute;
    left: -26px;
}
.message p
{
    font-size: 36px;
    padding: 100px 0 50px;
    text-align: center;
    margin: 0;
}
.second{
    background-image: url(../images/cloud.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 447px;
    background-position: bottom;
    background-size: 100% 500px;
    padding-bottom: 76px;
    text-align: center;
}

.second video
{
    display: inline-block;
    width: 500px;
    height: 459px;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: 0 2px 22px 2px rgba(0, 0, 0, 0.1);
    /*  transition-delay: .2s; */
} 
.second .sceond-right
{
    display: inline-block;
    width: 380px;
    margin-left: 78px;
    text-align: left;
    vertical-align: middle;
    /* transition-delay: .3s; */
}
.second ul
{
    margin: 0;
    padding: 0;
}
.second ul li
{
    list-style: none;
    font-size: 16px;
    color: #333;
    font-weight: 300;
    padding-top: 30px;
}
.second .red
{
    width: 167px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background: #e74b3b!important;
    margin-top: 50px;
    /* transition-delay: .4s; */
}
.second .red:hover
{
    background: #cf4334!important;
}
.third 
{
    width: 1140px;
    margin: 120px auto;
}
.third .left
{
    width: 372px;
    display: inline-block;
    vertical-align: middle;
}
.third .left h4
{
    font-size: 28px;
    color: #000;
    font-weight: normal;
    margin: 0;
}
.third .left p
{
    font-size: 14px;
    font-weight: 300;
    color: #333;
    line-height: 1.86;
    padding: 20px 0 60px;
    margin: 0;
}
.third .left ul
{
    padding: 0;
    margin: 0;
    width: 408px;
}
.third .left ul li
{
list-style: none;
display: inline-block;
 margin: 0 20px 25px 0;
 height: 36px;
 /* color: #fff; */
 line-height: 36px;
 background-color: #f35c4c;
 font-size: 14px;
 border-radius: 100px;
}
.third .left ul li:hover
{
    background-color: #cf4334;
}
.third .left ul li a
{
    color: #fff;
    padding: 0 26px;
}
.third .right
{
    display: inline-block;
    width: 695px;
    margin-left: 72px;
    vertical-align: middle;
    margin: 0;
}
.third .right ul
{
    display: inline-block;
    margin-left: 72px;
    vertical-align: middle;
    width: 721px;
    margin-left: 72px;
    padding: 0;
    
}
.third .right ul li
{
    list-style: none;
    margin: 0 10px 10px 0;
    float: left;
    position: relative;
}
.third .right ul li .logo
{
    position: absolute; 
}
.third .right ul li .time
{
    position: absolute; 
}
.third .right ul li .time span
{
    color: #fffefe;
    position: absolute;
    right: 22px;
    bottom: 24px;
    line-height: 1;
    font-weight: 300;
    font-size:12px;
}
.third .right ul li a img
{
    width: 225px;
    height: 135px;
}
.third .right ul li:hover .black
{
    display: block;
}
.third .right ul li .black
{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 31, 41, 0.9);
}
.third .right ul li .black span
{
    display: inline-block;
}
.third .right ul li .black>img
{
    width: 10px;
    height: 10px;
    display: inline;
}
.third .right ul li .black span:first-child
{
    font-size: 13px;
    margin: 15px 15px 0;
    color: #e2e3e5;
    font-weight: 600;
    width: 90%;
    height: 69%;
}
.third .right ul li .black span:nth-child(2)
{
    color: #999;
    font-weight: 300;
    font-size: 12px;
    padding-left: 18px;
}
.four 
{
    width: 1140px;
    margin: 120px auto;
}
.four .four-left
{
    display: inline-block;
    width: 695px;
    margin-left: 72px;
    vertical-align: middle;
    margin: 0;
}
.four .four-left ul
{
    display: inline-block;
    vertical-align: middle;
    width: 721px;
    padding: 0;
    margin: 0;
    
}
.four .four-left ul li
{
    list-style: none;
    float: left;
    position: relative;
    height: 180px;
}
.four .four-left ul li div a>img
{
    width: 180px;
    height: 180px;
}
.four .four-left ul li div .black
{
    display: none;
    position: absolute;
    width: 73%;
    height: 56%;
    background-color: rgba(30, 31, 41, 0.9);
    padding: 40px 25px;
}
.four .four-left ul li:hover .black
{
    display: block;
}
.four .four-left ul li div .black span
{
    display: block;
}
.four .four-left ul li .black>img
{
    width: 10px;
    height: 10px;
    display: inline;
}
.four .four-left ul li div .black span:first-child
{
    color: #e2e3e5;
    padding-right: 3px;
    font-weight: 600;
    font-size: 14px;   
    display: inline;
}
.four .four-left ul li div .black span:nth-of-type(2)
{
    color: #999;
    line-height: 1;
    font-size: 12px;
    font-weight: 300;
}
.four .four-left ul li div .black span:last-child
{
    color: #999;
    line-height: 1.6;
    font-size: 12px;
    font-weight: 300;
    padding-top: 19px;
}
.four .four-left ul li .face-second
{
  display: none;
}
.four .four-right
{
    width: 372px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 68px;
}
.four .four-right h4
{
    font-size: 28px;
    color: #000;
    font-weight: normal;
    margin: 0;
}
.four .four-right p
{
    font-size: 14px;
    font-weight: 300;
    color: #333;
    line-height: 1.86;
    padding: 20px 0 60px;
    margin: 0;
}
.four .four-right ul
{
    padding: 0;
    margin: 0;
    width: 408px;
}
.four .four-right ul li
{
list-style: none;
display: inline-block;
 margin: 0 20px 25px 0;
 height: 36px;
 /* color: #fff; */
 line-height: 36px;
 background-color: #1bc5b5;
 font-size: 14px;
 border-radius: 100px;
}
.four .four-right ul li:hover
{
    background-color: #19b0a1;
}
.four .four-right ul li a
{
    color: #fff;
    padding: 0 26px;
}
.five
{
    width: 1140px;
    margin: 120px auto;
}
.five h4
{
    color: #000;
    font-weight: normal;
    font-size: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 40px;
}
.five ul
{
    padding: 0;
    height: 412px;
}
.five ul li
{
    list-style: none;
    display: inline-block;
    width: 366px;
    float: left;
    position: relative;
}
.five ul li:not(:last-child)
{
    margin: 0 21px 21px 0;
}
.five ul li a img
{
    width: 100%;
    z-index: 9;
}
.five ul li>a:hover img
{
    transform: scale(1.02);
}
.five ul li p a
{
    font-size: 16px;
    color: #000;
    line-height: 1;
    font-weight: normal;
    margin: 0;
}
.five ul li p a:hover
{
    color: #e74b3b;
}
.five ul li p
{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    color: #999999;
    padding-top: 15px;
    margin: 0;
}


.five ul li>a>span
{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 34%;
    top: 17%;
    z-index: 10;
}
.five ul li>a .img-1
{
    background: url(../images/five-logo.png) no-repeat;
    background-position: 0 -474px;
    background-size: cover;
}
.five ul li>a .img-2
{
    background: url(../images/five-logo.png) no-repeat;
    background-position: 0 22px;
    background-size: cover;
}
.five ul li>a .img-3
{
    background: url(../images/five-logo.png) no-repeat;
    background-position: 0 -74px;
    background-size: cover;
}
.five .five_btn>a
{
    display: block;
    width: 226px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #666;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin: 45px auto 0;
}
.five .five_btn>a:hover
{
    background-color: #f0f0f0;
}
.six
{
    height: 730px;
    position: relative;
}
.six>span
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
}
.six video
{
    width: 100%;
    height: 100%;
    z-index: 0;
}
.six .main
{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 1216px;
    height: 525px;
    margin-top: -262px;
    margin-left: -608px;
}
.six .main h3
{
    padding-bottom: 24px;
    color: #fff;
    position: relative;
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}
.six .main p
{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0;
    word-spacing: 26px;
}
.six .main p i
{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 9px;
    margin-left: 36%;
    background-color: rgba(216, 216, 216, 0.49);
}
.six .main ul>li
{
    float: left;
    list-style: none;
    display: inline-block;
    width: 360px;
    margin: 0 30px 30px 0;
    vertical-align: top;
    position: relative;
}
.six .main ul>li img
{
    height: 204px;
}
.six .main ul>li img:hover
{
    transform: scale(1.02);
    overflow: hidden;
}
.six .main ul>li .wite
{
    padding: 20px 18px 14px;
    background-color: #fff;
    position: relative;
    width: 92%;
    height: 158px;
    margin-top: -3px;
}
.six .main ul>li>span
{
    z-index: 11;
    position: absolute;
    top: 16px;
    left: 20px;
    height: 30px;
    padding: 0 18px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(231, 75, 59, 0.9);
}
.six .main ul>li .wite p:first-child
{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    max-width: 326px;
    text-align: left;
    
}
.six .main ul>li .wite p:first-child:hover
{
    color: #e74b3b;
}
.six .main ul>li .wite p:nth-of-type(2)
{
    font-size: 12px;
    line-height: 1.67;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-weight: 300;
    text-align: left;
    padding-top: 11px;
}
.six .main ul>li .wite p:nth-of-type(3)
{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.83;
    color: #999;
    height: 42px;
    word-break: break-all;
    text-align: left;
    padding-top: 10px;
}
.six .main ul>li .wite>ul
{
    float: left;
    max-height: 22px;
    overflow: hidden;
    padding-top: 28px;
    padding-left: 0;
}
.six .main ul>li .wite>ul>li
{
    float: left;
    border-radius: 2px;
    background-color: #f7f7f7;
    margin-right: 10px;
    display: block;
    height: 22px;
    width: auto;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #333;
    cursor: default;
}
.six .six_btn a
{
    display: block;
    width: 226px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #666;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: -52px;
    left: 42%;
}
.six .six_btn a:hover
{
    background-color: rgba(255, 255, 255, 0.6);
}
.seven
{
    width: 1140px;
    margin: 120px auto;  
    height: 830px;
}
.seven h3
{
    font-size: 36px;
    padding: 0 0 50px;
    text-align: center;
    color: #000;
    font-weight: normal;
    margin: 0;
}
.seven ul
{
    padding: 0;
}
.seven ul li
{
    float: left;
    list-style: none;
    display: inline-block;
    width: 366px;
    vertical-align: top; 
    margin: 0 21px 21px 0;
    position: relative;
}
.seven ul li:nth-of-type(3)
{
    margin: 0 0 21px 0;
}
.seven ul li a img
{
    width: 100%;
    height: 100%;
}
.seven ul li>a:hover img
{
    transform: scale(1.02);
}
.seven ul li>a span
{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 34%;
    top: 17%;
    z-index: 10;
}
.seven ul li>a .img-1
{
    background: url(../images/five-logo.png) no-repeat;
    background-position: 0 -174px;
    background-size: cover;
}
.seven ul li>a .img-2
{
    background: url(../images/five-logo.png) no-repeat;
    background-position: 0 -374px;
    background-size: cover;
}
.seven ul li>a .img-3
{
    background: url(../images/five-logo.png) no-repeat;
    background-position: 0 -549px;
    background-size: cover;
}
.seven ul li>a .img-4
{
    background: url(../images/five-logo.png) no-repeat;
    background-position: 0 -274px;
    background-size: cover;
}
.seven ul li p>a
{
    font-size: 16px;
    color: #000;
    line-height: 1;
    font-weight: normal;
}
.seven ul li p>a:hover
{
    color: #e74b3b;
}
.seven ul li p:nth-of-type(2)
{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    color: #999999;
}
.eight
{
    width: 100%;
    height: 400px;
    padding: 0px 0 230px;
    background: url(../images/8dd.jpg) no-repeat;
    background-position: bottom;
    background-size: 100% 500px;
    position: relative;
}
.eight h3
{
    padding-bottom: 190px;
    color: #333;
    font-size: 36px;
    padding: 100px 0 50px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}
.eight .eight_btn
{
    display: inline-block;
    width: 405px;
    height: 80px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    margin: 0 10px;
    position: absolute;
    top: 58%;
    left: 32%;
}
.eight .eight_btn>div
{
    display: inline-block;
    margin: 0px 10px;
    width: 160px;
    height: 50px;
}
.eight .eight_btn .grey
{
    background-color: rgba(255, 255, 255, 0.3)!important;
}
.eight .eight_btn .grey:hover
{
    background-color: rgba(255, 255, 255, 0.6)!important;
}
.eight .eight_btn .red
{
    background: #e74b3b!important;
}
.eight .eight_btn .red:hover
{
    background: #cf4334!important;
}
.nine
{
    position: relative;
    background: #fff;
    height: 260px;
    width: 1140px;
    margin: 38px auto 0;
}
.nine .nine_left
{
    width: 465px;
    float: left;
}
.nine .nine_left span
{
    left: 13px;
    font-size: 14px;
    color: #333333;
    position: relative;
    top: -13px;
}
.nine .nine_left p
{
    margin: 18px 0 39px 0;
    text-align: justify;
    line-height: 1.8;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
}
.nine .nine_right 
{
    float: right;
}
.nine .nine_right div
{
    font-size: 12px;
    line-height: 1.5;
   
    float: left;
}
.nine .nine_right div:not(:last-child)
{
    width: 200px;
}
.nine .nine_right div p
{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
.nine .nine_right  ul
{
    padding: 0;
}
.nine .nine_right  ul li
{
    list-style: none;
    margin-bottom: 14px;
    color: #999;
}
.tail
{
    background-color: #f1f1f1;
}
.tail>div
{
    display: inline-block;
}
.tail .tail-li
{
    padding-left: 51px;
    
}
.tail span
{
    font-size: 12px;
    color: #999;
    margin-right: 27px;
    height: 56px;
    width: 1140px;
    line-height: 56px;
    padding: 0 20px 0 0;
}
.tail .tail-li img
{
    position: relative;
    top: 7px;
}
.tail .tail-al
{
    padding-left: 167px;

}
.tail .tail-al i
{
    font-size: 20px;
    color: #333;
    padding-right: 37px;
    position: relative;
}
.tail .tail-al i div
{
    position: absolute;
    width: 120px;
    height: 140px;
    top: -154px;
    left: -56px;
    background: #fff;
    cursor: default;
    padding: 0px;
    display: none;
}
.tail .tail-al i:hover div
{
    display: block;
}
.tail .tail-al i div img
{
    width: 100%;
}
.tail .tail-al i div em
{
    font-size: 12px;
    color: #333;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 17px;
}